<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/goodsController.js"></script>
    <script type="text/javascript" src="../js/service/goodsService.js"></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
    <script type="text/javascript" src="../js/service/uploadService.js"></script>  
    <script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="../js/controller/orderController.js"></script>
    <script type="text/javascript" src="../js/service/orderService.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderController" ng-init="findOrderAndOrderItem()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

                    <div class="box-body">

                     <!--   &lt;!&ndash; 数据表格 &ndash;&gt;
                        <div class="table-box">

                            &lt;!&ndash;工具栏&ndash;&gt;
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <a href="goods_edit.html"  class="btn btn-default">新建</a>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  		状态：<select ng-model="searchEntity.auditStatus">
                                         	<option value="">全部</option>      
                                         	<option value="0">未申请</option>    
                                         	<option value="1">审核通过</option>    
                                         	<option value="2">审核未通过</option>    
                                         	<option value="3">关闭</option>                                     
                                        </select>
							                  商品名称：<input type="text" ng-model="searchEntity.goodsName">									
									<button class="btn btn-default" ng-click="reloadList()">查询</button>                                    
                                </div>
                            </div>
                            &lt;!&ndash;工具栏/&ndash;&gt;

			                  数据列表
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th>
										  <th class="sorting_asc">订单ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">

			                              <td ><input  type="checkbox"></td>
				                          <td>{{entity.orderId}}</td>
		                                  <td class="text-center">
		                                  	  <a class="btn bg-olive btn-xs" href="#">修改</a>
		                                  </td>
                                          <td ng-repeat="orderItem in entity.orderItemList track by $index">
                                              <a>{{orderItem.goodsId}}</a>
                                              <a>{{orderItem.num}}</a>
                                          </td>
			                          </tr>
			                  </table>
			                  数据列表/

							 
                        </div>-->
                        <!-- 数据表格 /-->
                        <!-- 分页 -->
                        <div  ng-repeat="entity in list">


                        <div class="choose-title" >
                            <label data-toggle="checkbox" class="checkbox-pretty ">
                                <input type="checkbox" checked="checked"><span>{{entity.createTime}}　订单编号：{{entity.orderId}}  店铺：341 <a>和我联系</a></span>
                            </label>
                            <a class="sui-btn btn-info share-btn">分享</a>
                        </div>
                        <table class="sui-table table-bordered order-datatable">
                            <tbody>
                            <tr ng-repeat="orderItem in entity.orderItemList track by $index">
                                <td width="35%">
                                    <div class="typographic"><img src="img/goods.png" />
                                        <a href="#" class="block-text">{{orderItem.title}}</a>
                                    </div>
                                </td>
                                <td width="5%" class="center">
                                    <ul class="unstyled">
                                        <li class="o-price">价格:¥{{orderItem.price}}</li>
                                    </ul>
                                </td>
                                <td width="5%" class="center">数量:{{orderItem.num}}</td>
                                <td width="8%" class="center">

                                </td>
                                <td width="10%" class="center" >
                                    <ul class="unstyled">
                                        <li>价格:¥{{orderItem.price}}</li>
                                        <li>（含运费：￥0.00）</li>
                                    </ul>
                                </td>

                                <td width="10%" class="center">
                                    <ul class="unstyled">
                                        <a><li  class="sui-btn btn-info" ng-click="aaa(entity.orderId)">立即发货</li></a>
                                        <li>取消订单</li>

                                    </ul>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                        
                     </div>
                    </div>
                    <!-- /.box-body -->
		
</body>

</html>